<script>
$(function() {
  $("#tagBox").tagging();

  var ingredient = [""
      <% Ingredient.all.each do |ingredient| %>
        , "<%= ingredient.name %>"
      <% end %>
    ];

  $(document).on('keydown.autocomplete', ".ingredient_input", function() {
      $(this).autocomplete({source: ingredient});
  });
});

function addIngredient(){
  var x = $('.blank-amount-ingredient-field')
  x.removeClass('blank-amount-ingredient-field');

  var num_amounts = parseInt($("#num_amounts").val());
  $("#num_amounts").val(num_amounts + 1);
  //update [X] and _X_
  var hiddenhtml = x.html().replace(/\[\d+\]/g, "["+(num_amounts + 1)+"]");
  hiddenhtml = hiddenhtml.replace(/_\d+_/g, "_"+(num_amounts + 1)+"_");
  debugger
  $('#amounts-ingredients').append('<div class="blank-amount-ingredient-field">'
                                    + hiddenhtml
                                    + '</div>');

  return false;
}

function removeIngredient(element){
  var x = $(element).parent().parent();
  x.remove();
  var num_amounts = parseInt($("#num_amounts").val());
  $("#num_amounts").val(num_amounts);

  return false;
}
</script>

<%= form_for @recipe do |f| %>
   <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
   <fieldset>
    <%= f.label :description %>
    <%= f.text_area :description%>
  </fieldset>
  <div style="clear: both;">
  <fieldset class="col-sm-3">
    <%= f.label :difficulty %>
    <%= f.select :difficulty, [1, 2, 3, 4, 5] %>
  </fieldset>
    <fieldset class="col-sm-8">
    <%= f.label :tools, class: "col-sm-2" %>
    <%= f.text_field :tools, class: "col-sm-7"  %>
  </fieldset>
</div>
   <div class="amounts-ingredients">
     <fieldset id='amounts-ingredients'>
      <div class="col-sm-7">
        <label class="form-control-label" for="ingredient">Ingredient</label>
      </div>
      <div class="col-sm-2">
        <label class="form-control-label" for="quantity">Quantity</label>
      </div>
      <div class="col-sm-2">
        <label class="form-control-label" for="amount">Amount</label>
      </div>
      <div class="col-sm-1">
        <label>Add</label>
      </div>
      <%= render partial: 'ingredient_form', locals: {recipe: @recipe, blank_amount: @blank_amount} %>
    </fieldset>
    <input type="hidden" id="num_amounts" value="<%= @recipe.amounts.size %>">
  </div>
  <fieldset>
    <%= f.label :tags %>
    <div data-tags-input-name="recipe[tag_names]" id="tagBox">
      <%= @recipe.print_tag_names %>
    </div>
  </fieldset>
  <fieldset>
    <%= f.label :steps %>
    <%= f.text_area :steps %>
  </fieldset>
  <fieldset>
    <%= f.label :servings %>
    <%= f.text_field :servings %>
  </fieldset>
  <fieldset>
      <%= f.label :img_url %>
      <%= f.text_field :img_url%>
  </fieldset>


<%= f.submit %>
<% end %>
