<script>
  
</script>

<%= form_for @recipe do |f| %>
   <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
   <fieldset>
    <%= f.label :description %>
    <%= f.text_area :description%>
  </fieldset>
  <div style="clear: both;">
  <fieldset class="col-sm-3">
    <%= f.label :difficulty %>
    <%= f.select :difficulty, [1, 2, 3, 4, 5] %>
  </fieldset>
    <fieldset class="col-sm-8">
    <%= f.label :tools, class: "col-sm-2" %>
    <%= f.text_field :tools, class: "col-sm-7"  %>
  </fieldset>
</div>
   <div class="amounts-ingredients">
   <fieldset id='amounts-ingredients'>
    <% @recipe.amounts.each do |amount| %>
      <%= f.fields_for :amounts, amount do |amounts_attributes| %>
        <%= render partial: 'ingredient_form', locals: {recipe: @recipe, amount: amount, amounts_attributes: amounts_attributes} %>
      <% end %>
    <% end %>
  </fieldset>
  <input type="hidden" id="num_amounts" value="<%= @recipe.amounts.size - 1 %>">

  </div>
  <fieldset>
    <%= f.label :steps %>
    <%= f.text_area :steps %>
  </fieldset>
  <fieldset>
    <%= f.label :servings %>
    <%= f.text_field :servings %>
  </fieldset>
  <fieldset>
      <%= f.label :img_url %>
      <%= f.text_field :img_url%>
  </fieldset>


<%= f.submit %>
<% end %>
