<% if amount == recipe.amounts.last %>
    <div class="blank-amount-ingredient-field">
      <label for="ingredient">Ingredient</label>
      <%= amount_attributes.fields_for :ingredient do |ingredients_attributes| %>
        <%= ingredients_attributes.hidden_field :name %>
      <% end %>
      <input type="text" class="ingredient_input">

      <%= amount_attributes.text_field :quantity, placeholder: "Quantity" %>
      <%= amount_attributes.text_field :unit, placeholder: "Unit" %>
      <button onclick="removeIngredient(this); return false;" class="btn btn-default add-ingredient"><span class="glyphicon glyphicon-minus"></span></button>
  </div>
<% else %>
  <div class="amount-ingredient-field">
    <label for="ingredient">Ingredient</label>
    <%= amount_attributes.fields_for :ingredient do |ingredients_attributes| %>
      <%= ingredients_attributes.hidden_field :name %>
    <% end %>
    <input type="text" class="ingredient_input">

    <%= amount_attributes.text_field :quantity, placeholder: "Quantity" %>
    <%= amount_attributes.text_field :unit, placeholder: "Unit" %>

    <button onclick="addIngredient(); return false;" class="btn btn-default add-ingredient"><span class="glyphicon glyphicon-plus"></span></button>
  </div>
<% end %>
