<div class="recipe recipe-<%= the_recipe.id %> teaser col-sm-6 col-md-4">
  <div class="item">
    <%= link_to the_recipe do %>
        <div class="description active-state" >
          <h3><%= truncate(the_recipe.description, :length => 200, :separator => ' ') %></h3>
          <div class="difficulty"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span>Difficulty <%= the_recipe.difficulty %></div>
          <div class="servings"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Serves <% if the_recipe.servings %><%= the_recipe.servings %><% else %>1<% end %></div>
        </div>
  <div class="static-state">
        <% if the_recipe.img_upload.url %>
          <div class="thumbnail" style="background-image:url('<%= the_recipe.img_upload.url %>')">
            <%= image_tag the_recipe.img_upload.url, class: "thumbnail" %>
        <% else %>
          <div class="thumbnail">
            <div class="glass">
              <div class="water">
                <% the_recipe.amounts.each do |x| %>
                  <div style="background-color:#<%= "%06x" % (rand * 0xffffff) %>;height:<%= (1 / the_recipe.amounts.size.to_f) * 100 %>%"></div>
                <% end %>
              </div>
            </div>
        <% end %>

      </div>
      <div class="caption">
        <header>
          <h3><%= the_recipe.name %></h3>
        </header>
      </div>
    </div>
  <% end %>


    <footer>
      <div class="author col-xs-8 col-sm-6">
        <%= link_to the_recipe.user do %>
          <% if the_recipe.user.img_upload.url %>
          <div class="profile-img" style="background-image:url('<%= the_recipe.user.img_upload.url %>')">
           </div>
          <% else %>
            <span class="glyphicon glyphicon-user"></span>
        <% end %>
          <span class="username"><%= the_recipe.user.first_name %></span>
        <% end %>
      </div>

      <div class="meta col-xs-4 col-sm-6">
        <span class="reviews"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><%= the_recipe.reviews.count %></span>
        <div class="favorites">
          <%= link_to favorite_path(id: the_recipe.id), method: :post do %>
          <div class="favorite-btn" recipe_id="<%= the_recipe.id %>">
            <span class="<%= the_recipe.heart_class(current_user) %>"></span>
            <span class="count"><%= the_recipe.favorites_count(current_user) %></span>
            </div>
          <% end %>
        </div>
    </footer>

  </div>
</div>
