<div class="recipe recipe-<%= the_recipe.id %> teaser col-sm-6 col-md-4">
  <div class="item">  
    <%= link_to the_recipe do %>
      <div class="thumbnail">
        <% if the_recipe.img_url != "" %>
          <%= image_tag the_recipe.img_url, class: "thumbnail" %>
        <% else %>
          <div class="glass">
            <div class="water">
              <% the_recipe.amounts.each do |x| %>
                <div style="background-color:#<%= "%06x" % (rand * 0xffffff) %>;height:<%= (1 / the_recipe.amounts.size.to_f) * 100 %>%"></div>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
      <div class="caption">
        <div class="description" style="display:none;">
          <%= the_recipe.description %>
        </div>

        <header>
          <h3><%= the_recipe.name %></h3>
        </header>
      </div>
    <% end %>
      
    <footer>
      <div class="author col-xs-8 col-sm-5">
        <%= link_to the_recipe.user do %>
          <% if the_recipe.user.img_url %>
            <%= image_tag the_recipe.user.img_url, class: "profile-sm" %>
          <% else %>
            <span class="glyphicon glyphicon-user"></span>
        <% end %>
          <span class="username"><%= the_recipe.user.first_name %></span>
        <% end %>
      </div>
      
      <div class="meta col-xs-4 col-sm-7">    
        <div class="reviews col-xs-4"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><%= the_recipe.reviews.count %></div>
        <div class="difficulty col-xs-4"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span><%= the_recipe.difficulty %></div>
        
        <div class="favorites col-xs-4"><%= link_to favorite_path(id: the_recipe.id), method: :post do %>
          <div class="favorite-btn text-center" recipe_id="<%= the_recipe.id %>">
            <span class="<%= the_recipe.heart_class(current_user) %>"></span>
            <span class="count"><%= the_recipe.favorites_count(current_user) %></span>
          </div>
          <div class="favorites-message" recipe_message_id="<%= the_recipe.id %>">
            <%= the_recipe.favorites_message(current_user) %>
          </div>
        </div>
      <% end %>
    </footer>
    
  </div>
</div>

