<h1><%= @recipe.name %></h1>

<h2><%= @recipe.description %></h2>
<h2><%= @recipe.tools %></h2>
<h2><%= @recipe.steps %></h2>
<h2><%= @recipe.difficulty %></h2>
<h2><%= @recipe.img_url %></h2>
<h2><%= @recipe.servings %></h2>
