<style>
.glass {
  margin-left: auto;
  margin-right: auto;
  height: <%= [50 * @recipe.amounts.size, 300].max %>px;
  width: <%= ([50 * @recipe.amounts.size, 300].max) / 2 %>px;
}
</style>
<script>
  $(function(){
    function goUp(){
      $('.water')
       .animate({ height: '90%' }, (Math.random() * 1000) + 1000, "easeInOutBack")
       .animate({ height: '95%' }, (Math.random() * 1000) + 1000, "easeInOutBack", goUp);
    }

    goUp();
  })
</script>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "9167ee52-20dc-45c3-8509-e77bd5a5884b", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<div class="recipe recipe-<%= @recipe.id %> show">
<div class="item-body">
  <header>
    <div class="page-header">
  <h1><%= @recipe.name %></h1>

    <div class="author">
      <%= link_to @recipe.user do %>
        <% if @recipe.user.img_url %>
         <div class="profile-img" style="background-image:url('<%= @recipe.user.img_url %>')"></div>
        <% else %>
        <span class="glyphicon glyphicon-user"></span>
        <% end %>
      <h4 class="username">by <%= @recipe.user.first_name %></h4> <% end %></div>
      <div style="float:right;display:none;">
  <span class='st_facebook_hcount' displayText='Facebook'></span>
  <span class='st_twitter_hcount' displayText='Tweet'></span>
  <span class='st_pinterest_hcount' displayText='Pinterest'></span>
  <span class='st_email_hcount' displayText='Email'></span>
</div>

<div class="item-edit">
  <% if current_user.nil? %>

  <% elsif @recipe.user.first_name == current_user.first_name %>
    <%= link_to "Edit", edit_recipe_path, class: 'btn btn-default btn-s'%>
    <%= link_to "Delete", recipe_path(@recipe), method: :delete, class: 'btn btn-default btn-s'%>
  <% end %>
</div>




  <div class="meta small">
      <div class="favorites">
        <%= link_to favorite_path(id: @recipe.id), method: :post do %>
        <div class="favorite-btn" recipe_id="<%= @recipe.id %>"><span class="<%= @recipe.heart_class(current_user) %>"></span><span class="count"><%= @recipe.favorites_count(current_user) %></span></div>
        <% end %>
        <div class="favorites-message" recipe_message_id="<%= @recipe.id %>"><%= @recipe.favorites_message(current_user) %></div>
      </div>
        <% if @recipe.reviews.count > 1 %>
          <div class="comments"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><%= @recipe.reviews.count %> Comments</div>
        <% else  %>
        <div class="comments"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><%= @recipe.reviews.count %> Comment</div>
        <% end %>
    </div>
      </div>
  <div class="item-img">
    <% if @recipe.img_upload != "" %>
      <%= image_tag @recipe.img_upload.url %>
    <% else %>
      <div class="glass">
        <div class="water">
          <img class="water_top" src="/water_top.png">
          <% @recipe.amounts.each do |x| %>
            <div style="background-color:#<%= "%06x" % (rand * 0xffffff) %>;height:<%= (1 / @recipe.amounts.size.to_f) * 100 %>%"><div style=""><%= x.ingredient.name %></div></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  </header>
    <div class="content">
  <h3 class="description"><%= @recipe.description %></h3>


    <div class="rec-meta">
    <h5><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Difficulty <span class="count"><%= @recipe.difficulty %></span></h5>

    <h5><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Serves <% if @recipe.servings %><span class="count"><%= @recipe.servings %></span><% else %>1<% end %></h5>
  </div>
  <div class="divider"></div>
      <div class="ingredients">
        <div class="ing-label">
          <h4>Ingredients</h4>
        </div>
        <ul>
          <% @recipe.amounts.each do |amount| %>
            <li><span class="quantity"><%= amount.quantity %></span> <span class="unit"><%= amount.unit %></span> <span class="ingredient"><%= link_to amount.ingredient.name, ingredient_path(amount.ingredient.name) %></span></li>
          <% end %>
        </ul>
      </div>
      <div class="directions">
        <p><%= @recipe.steps %></p>
      </div>
    </div>

    <% if @recipe.tags.count > 0 %>
      <div class="item-tags">
      <h5><span class="label-dark">Filed Under </span>
        <% @recipe.tags.each do |tag| %>
          <span class="btn btn-default btn-sm"><%= link_to tag.name, tag_path(tag.name) %></span>
        <% end %>
      </h5>
      </div>
    <% end %>

<div class="item-comments">
  <h3 class="header">Comments</h3>
      <div id='reviews'>
        <%= render partial: @recipe.reload.reviews %>
      </div>

  <div id="review-form">
    <%= render "reviews/form" %>
  </div>
</div>
</div>
</div>
<% similar_r = @recipe.similar_recipes %>
<% if similar_r.flatten.count > 0 %>
  <div class="item-related">
    <div class="user-recipes">
    <h3 class="header">Related</h3>
    <% if similar_r[0].count > 0 %>
      <h5><span class="label-dark">Similar Recipes by Ingredient: </span>
      <% similar_r[0].each do |sim| %>
        <%= render partial: "recipes/recipe_teaser", locals: {the_recipe: sim} %>
      <% end %>
      </h5>
    </div>
    <% end %>
    <% if similar_r[1].count > 0 %>
     <div class="user-recipes">
      <h5><span class="label-dark">Similar Recipes by Tag: </span></h5>
        <% similar_r[1].each do |sim| %>
          <%= render partial: "recipes/recipe_teaser", locals: {the_recipe: sim} %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
