<h1><%= @recipe.name %></h1>

<%= image_tag @recipe.img_url %>

<h3>Description: <%= @recipe.description %></h3>
<h3>Tools: <%= @recipe.tools %></h3>
<h3>Instructions: <%= @recipe.steps %></h3>
<h3>Ingredients:</h3>
    <% @recipe.amounts.each do |amount| %>
      <h3><%= amount.ingredient.name %> Quantity: <%= amount.quantity %> Unit: <%= amount.unit %></h3>
    <% end %>
<h3>Difficulty Level: <%= @recipe.difficulty %></h3>

<h3>Servings: <%= @recipe.servings %></h3>

<%= link_to "Edit Recipe", edit_recipe_path, class: 'btn btn-info btn-s'%>
<%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete, class: 'btn btn-info btn-s'%>
