<style>
.glass {
  margin-left: auto;
  margin-right: auto;
  height: <%= [50 * @recipe.amounts.size, 300].max %>px;
  width: <%= ([50 * @recipe.amounts.size, 300].max) / 2 %>px;
}
</style>
<script>
  $(function(){
    function goUp(){
      $('.water')
       .animate({ height: '90%' }, (Math.random() * 2000) + 2000, "easeOutElastic")
       .animate({ height: '95%' }, (Math.random() * 2000) + 2000, "easeOutElastic", goUp);
    }

    goUp();
  })
</script>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "9167ee52-20dc-45c3-8509-e77bd5a5884b", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<div class="recipe recipe-<%= @recipe.id %> show">
<div class="item-spacer col-sm-0 col-md-2"></div>
<div class="item-body col-sm-12 col-md-8">
  <header>
    <div class="page-header">
  <h1><%= @recipe.name %></h1>

    <h4 class="author">
      <%= link_to @recipe.user do %>
        <% if @recipe.user.img_url %>
        <%= image_tag @recipe.user.img_url, class: "profile-sm" %>
        <% else %>
        <span class="glyphicon glyphicon-user"></span>
        <% end %>
      <span class="username">by <%= @recipe.user.first_name %></span> <% end %></h4>
      <div style="float:right;">
  <span class='st_facebook_hcount' displayText='Facebook'></span>
  <span class='st_twitter_hcount' displayText='Tweet'></span>
  <span class='st_pinterest_hcount' displayText='Pinterest'></span>
  <span class='st_email_hcount' displayText='Email'></span>
</div>

  <div class="meta">
      <div class="favorites">
        <%= link_to favorite_path(id: @recipe.id), method: :post do %>
        <div class="favorite-btn" recipe_id="<%= @recipe.id %>"><span class="<%= @recipe.heart_class(current_user) %>"></span><span class="count"><%= @recipe.favorites_count(current_user) %></span></div>
        <% end %>
        <div class="favorites-message" recipe_message_id="<%= @recipe.id %>"><%= @recipe.favorites_message(current_user) %></div>
      </div>
        <div class="comments"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><%= @recipe.reviews.count %> Comment</div>
    </div>
      </div>
  <div class="item-img">
    <% if @recipe.img_url != "" %>
      <%= image_tag @recipe.img_url %>
    <% else %>
      <div class="glass">
        <div class="water">
          <% @recipe.amounts.each do |x| %>
            <div style="background-color:#<%= "%06x" % (rand * 0xffffff) %>;height:<%= (1 / @recipe.amounts.size.to_f) * 100 %>%"><div style=""><%= x.ingredient.name %></div></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <h3><%= @recipe.description %></h3>

    <h4><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Difficulty <%= @recipe.difficulty %></h4>

    <h4>Serves <%= @recipe.servings %></h4>

    <% if @recipe.tools %>
      <h4>Tools: <%= @recipe.tools %></h4>
    <% end %>

  </header>
    <div class="content">

      <div class="ingredients">
        <h4>Ingredients</h4>
        <ul>
          <% @recipe.amounts.each do |amount| %>
            <li><span class="quantity"><%= amount.quantity %></span> <span class="unit"><%= amount.unit %></span> <span class="ingredient"><%= link_to amount.ingredient.name, ingredient_path(amount.ingredient.name) %></span></li>
          <% end %>
        </ul>
      </div>
      <div class="directions">
        <p><%= @recipe.steps %></p>
      </div>
    </div>

      <% if @recipe.tags %>
      <div class="item-tags">
      <h5><span class="label-dark">Filed Under: </span>
        <% @recipe.tags.each do |tag| %>
          <span class="btn btn-default btn-sm"><%= link_to tag.name, tag_path(tag.name) %></span>
        <% end %>
      </h5>
      </div>
       <% end %>

<div class="item-edit">
  <% if current_user.nil? %>

  <% elsif @recipe.user.first_name == current_user.first_name %>
    <%= link_to "Edit Recipe", edit_recipe_path, class: 'btn btn-info btn-s'%>
    <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete, class: 'btn btn-info btn-s'%>
  <% end %>
</div>

<div class="item-comments">
  <h2>Comments:</h2>
      <div id='reviews'>
        <%= render partial: @recipe.reload.reviews %>
      </div>

  <div id="review-form">
    <%= render "reviews/form" %>
  </div>
</div>
</div>
</div>
