<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :birth_date %>
    <%= f.date_field :birth_date %>
  </div>
  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>
    <div class="field">
    <%= f.label :img_url %>
    <%= f.text_field :img_url %>
  </div>
<%= f.submit %>
<% end %>