<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<div class="user-img">
<%= image_tag @user.img_url %>
<p><%= @user.bio %></p>
</div>
<%= link_to "Edit Profile", edit_user_path, class: 'btn btn-info btn-s'%>

<div class="user-recipes">
<h2>My Recipes</h2>
<% @user.recipes.each do |recipe| %> 
  <%= render partial: "recipes/recipe_teaser", locals: {the_recipe: recipe} %>
<% end %>
</div>

<div class="user-favorites">
<h2>My Favorites</h2>
<% @user.favorites.each do |favorite| %>
  <%= render partial: "recipes/recipe_teaser", locals: {the_recipe: favorite.recipe} %>
<% end %>
</div>



