<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<%= image_tag @user.img_url %>
<p><%= @user.bio %></p>

<%= link_to "Edit Profile", edit_user_path, class: 'btn btn-info btn-s'%>


<h2>My Recipes</h2>
<ul>
<% @user.recipes.each do |recipe| %>
  <li>
  <%= link_to recipe.name, recipe %>
  </li>
<% end %>
</ul>
