<div class="user user-<%= @user.id %> show">
<div class="item-spacer col-sm-0 col-md-2"></div>
<div class="item-body col-sm-12 col-md-8">
    <div class="left col-xs-4 col-sm-4 col-lg-4">

    <div class="item-img" style="background-image:url('<% if @user.img_upload %><%= @user.img_upload.url %>') <% end %>">
      <span class="glyphicon glyphicon-user"></span>
    </div>
  </div>
    <div class="header col-xs-8 col-sm-8 col-lg-8">
    <h1 class="author"><%= @user.full_name %></h1>
    <div class="meta">
      <span class="recipe-count"><%= @user.recipes.count %> Recipes</span>
      <span class="recipe-count"><%= @user.favorites.count %> Favorites</span>
    </div>
    <h3 class="bio"><%= @user.bio %></h3>
   <% if @user.id == current_user.id %>
    <%= link_to "Edit Profile", edit_user_path, class: 'btn btn-default btn-s'%>
    <% end %> 
  </div>
</div>

<div class="item-related">

<% if @user.recipes.count > 0  %>
 <div class="user-recipes">
  <h3 class="header">My Recipes</h3>
  <% @user.recipes.each do |recipe| %>
    <%= render partial: "recipes/recipe_teaser", locals: {the_recipe: recipe} %>
  <% end %>
  </div>
  <% end %>

  <% if @user.favorites.count > 0 %>
  <div class="user-favorites">
  <h3 class="header">My Favorites</h3>
  <% @user.favorites.each do |favorite| %>
    <%= render partial: "recipes/recipe_teaser", locals: {the_recipe: favorite.recipe} %>
  <% end %>
  </div>
   <% end %>
</div>
