<% @recipes.each do |recipe| %>
  <%= link_to recipe do %>
    <div class="col-sm-6 col-md-4">
      <div class="item">
      <div class="thumbnail">
        <%= image_tag recipe.img_url, class: "thumbnail" %>
      </div>
        <div class="caption">
          <h3><%= recipe.name %></h3>
          <span class="description"></span>
          <div class="difficulty"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> <span>Difficulty: <%= recipe.display_difficulty %></span></div>
          <div class="favorites">Favorites: <span class="badge"><%= recipe.favorites.size %></span></div>
          <div class="servings"><span> Serves: <%= recipe.servings %> </span></div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
