<% if @recipes.empty? %>
    No Recipes Found
<% else %>
  <% @recipes.each do |recipe| %>
      <div class="recipe recipe-<%= recipe.id %> teaser col-sm-6 col-md-4">
        <%= link_to recipe do %>
        <div class="item">  
        <div class="thumbnail">
          <%= image_tag recipe.img_url, class: "thumbnail" %>
        </div>
          <div class="caption">
            <div class="description" style="display:none;">
              <%= recipe.description %>
            </div>

            <header>
            <h3><%= recipe.name %></h3>
            </header>
              <% end %>
           </div>
          
            <footer>
            <div class="author col-xs-8 col-sm-5">
              <%= link_to recipe.user do %>
              <%= image_tag recipe.user.img_url, class: "profile-sm" %><span class="username"><%= recipe.user.first_name %></span>
           <% end %></div>
            <div class="meta col-xs-4 col-sm-7">    
              <div class="reviews col-xs-4"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><%= recipe.reviews.count %></div>
            
              <div class="difficulty col-xs-4"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span><%= recipe.difficulty %></div>
              <div class="favorites col-xs-4"><%= link_to favorite_path(id: recipe.id), method: :post do %>
                <div class="favorite-btn text-center" recipe_id="<%= recipe.id %>">
                  <span class="<%= recipe.heart_class(current_user) %>"></span><span class="count"><%= recipe.favorites_count(current_user) %></span></div>
              
                      <div class="favorites-message" recipe_message_id="<%= recipe.id %>"><%= recipe.favorites_message(current_user) %></div>
                </div>
              <% end %>
              </footer>


        </div>
      </div>
  <% end %>
<% end %>