<% @recipes.each do |recipe| %>
  <%= link_to recipe do %>
    <div class="col-sm-6 col-md-4">
      <div class="item">
      <div class="thumbnail">
        <%= image_tag recipe.img_url, class: "thumbnail" %>
      </div>
        <div class="caption">
          <header>
          <h3><%= recipe.name %></h3>
          </header>
          <div class="description" style="display:none;">
            <%= recipe.description %>
          </div>
          <div class="meta col-sm-6">
            <div class="favorites col-sm-4"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><%= recipe.favorites.size %></div>
            <div class="reviews col-sm-4"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><%= recipe.servings %></div>
            <div class="difficulty col-sm-4"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span></div>
                      </div>
            <div class="author col-sm-6"><%= recipe.user.first_name %><%= image_tag recipe.user.img_url, class: "profile-sm" %></div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
