<%= div_for review do %>

  <div class="review-comment">
  <div class="author">
      <%= link_to review.user do %>
        <% if review.user.img_url %>
         <div class="profile-img" style="background-image:url('<%= review.user.img_url %>')"></div>
        <% else %>
        <span class="glyphicon glyphicon-user"></span>
        <% end %>
      <h3 class="username"> <%= review.user.first_name %></h3> <% end %><small><%= time_ago_in_words(review.created_at) %> ago</small></div>
      <div class="content"><p><%= review.comment %></p>


  <% if current_user.nil? %>
  <% elsif review.user.id == current_user.id || current_user.id < 4 %>
    <%= link_to 'Delete', recipe_review_path(review.recipe, review), method: :delete, data: { confirm: 'Are you sure?' },
                  id: "#{review.id}_delete", remote: true %><br>
  <% end  %>
<% end %>
  </div></div>
