<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <%= link_to 'Cocktail Cabinet', root_path, class: 'navbar-brand' %>
    <% if current_user %>
      <div class="navbar-right">
        <div class="dropdown">
         <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
           <% if current_user.img_url %>
              <div class="profile-img" style="background-image:url('<%= current_user.img_url %>')"><span></span></div>
              <%= current_user.first_name %><span class="caret"></span></button>
           <% elsif current_user.img_upload %>
               <div class="profile-img" style="background-image:url('<%= current_user.img_upload.url %>')"><span></span></div>
               <%= current_user.first_name %><span class="caret"></span></button>
            <% end %>
        <ul class="dropdown-menu">
          <li><%= link_to "My Recipes", user_path(current_user) %></li>
          <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
          <li role="separator" class="divider"></li>
          <li><a href= '/logout' class="navbar-btn">Sign out</a></li>
        </ul>
        </div>
        <a href= '/recipes/new' type="button" class="btn btn-primary navbar-btn">Add Recipe</a>
      </div>
      <% else %>
      <div class="navbar-right">
      <a href= '/login' type="button" class="btn btn-default navbar-btn">Sign in</a>
      <a href= '/users/new' type="button" class="btn btn-default navbar-btn">Sign Up</a>
    </div>
    <% end  %>
  </div>
</nav>
