<!DOCTYPE html>
<html>
<head>
  <title>CocktailCabinet</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/nav_bar' %>
  <%= render 'layouts/search_bar' %>

<div class= 'container' >  <%= yield %> </div>

  <footer id="footer">
  </footer>
</body>

</html>
