<!DOCTYPE html>
<html>
<head>
  <title>CocktailCabinet</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <% if @age != 1 %>
    <%= render '/home/age_gate'%>
  <% end %>

  <%= render 'layouts/nav_bar' %>
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= type %>" role="alert"><%= message %></div>
  <% end %>
<div class= 'container' >  <%= yield %> </div>

  <footer id="footer">
  </footer>
</body>

</html>
